<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

        <h1 class="text-3xl text-center font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl  pt-5">
          Cahit Sıtkı Tarancı Hakkkında
      </h1>





      <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- ====== Navbar Section Start -->
    <!-- ====== Navbar Section End -->

    <!-- ====== Hero Section Start -->
    <div class="relative pt-[120px] lg:pt-[150px] pb-[110px] ">
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-5/12 px-4">
            <div class="hero-content mx-4 my- p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
              Asıl adı Hüseyin Cahit olan Tarancı, 4 Ekim 1910’da, Diyarbakır'ın, Camii Kebir Mahallesi’nde dünyaya geldi.
              İlkokulu Diyarbakır’da bitirip, ortaokulu İstanbul’da Saint Joseph’te okumasının ardından, liseyi okumak için Galatasaray’a geçen Tarancı, sonradan yakın dost olacağı Ziya Osman Saba ile bu okulda tanıştı. Mülkiye Mektebi'nde başladığı, ancak başarı gösteremediği yüksek öğrenimini, o sırada Cumhuriyet Gazetesi’nde yayınlanmaya başlayan hikayelerinden kazandığı parayla Paris'te, Siyasal Bilgiler Fakültesi'nde tamamlamak istemesine rağmen, İkinci Dünya Savaşı'nın başlaması üzerine, Türkiye’ye dönmek zorunda kaldı.
              
              Askerliğini yaptıktan sonra, Anadolu Ajansı ve Çalışma Bakanlığı'nda çevirmen olarak çalışan Tarancı, Charles Baudelaire’in eserlerini de çevirmiştir.
              
              Edebiyat dünyasında ilk defa, 1930 yıllında dikkatleri üzerinde çeken Tarancı’nın, ilk şiiri Servet-i Fünun Dergisi’nde yayınlandı.
              
              Cumhuriyet döneminin önemli şairlerinden olan Tarancı, şiir yazmaya, lise yıllarında başladı. Batı’nın etkisinde kalan şairlerimizden olan Tarancı’nın, şiirinde divan edebiyatının etkisine rastlanmaz. Daha çok, halk şiirine yakın gösterilebilecek bir tarzı olan şairin, Fransız okullarında okumuş olması, ilk şiirlerindeki, Fransız şairlerin üsluplarıyla benzerliklerin sebebidir.
              
              Otuz Beş Yaş şiirinin, 1946’da, Cumhuriyet Halk Partisi’nin düzenlediği, yarışmada birincilik kazanmasıyla ününü pekiştiren ve Cumhuriyet Dönemi’nin önemli şairleri arasına giren Tarancı'nın, şiirlerinin en önemli özelliklerinden biri de, açık ve sade bir üsluba sahip olmalarıdır.
              
            
                             
            </div>
          </div>
          <div class="hidden lg:block lg:w-1/12 px-4"></div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="lg:text-right lg:ml-auto">
              <div class="relative inline-block z-10 pt-11 lg:pt-0">
                <img
                  src="https://im.haberturk.com/2020/04/14/ver1586904065/2646322_1920x1080.jpg"
                  alt="hero"
                  class="max-w-full lg:ml-auto"
                />
                <span class="absolute -left-8 -bottom-8 z-[-1]">
                  <svg
                    width="93"
                    height="93"
                    viewBox="0 0 93 93"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >

                   
                  </svg>
                </span>
              </div>
            </div>
          </div>


          <div class="hero-content mx-4 mt-6 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
            Hececi şiir geleneğini sürdürenlerden biri olan ve şiirin, kelimelerle güzel şekiller kurma sanatı olduğunu savunan Tarancı, şiirde ses güzelliğine değer verirdi.
              
            Şiirlerinde, yaşama sevincini ve aşkın güzelliğini vurgulayan, ölümün üstünlüğünü irdeleyen şair, anlatım gücüyle dikkat çekti. Ölüm korkusuna neredeyse her şiirinde yer veren ve ölümü kabullenemeyen Tarancı’nın, şiirlerine sürekli bir bunalım, hoşnutsuzluk, sıkkınlık hakimdir.
            
            "Sanat için sanat" ilkesine bağlı kalarak yazdığı şiirlerin konuları arasında, sevdalar, yalnızlık, kaçış, yaşadığı hayatın buruklukları, çocukluk özlemi de olan Tarancı’nın eserlerinde, kendinden başkasının adı geçmez. Kişisel şiirler yazan Tarancı da şiirlerinde, Ahmet Haşim gibi, çirkinliğinden ve sevilmediğinden yakınır.
            
            Şiir hakkındaki düşüncelerini, çeşitli makale ve denemelerle gazetelerde belirten ve Ömrümde Sükût (1933), Otuz Beş Yaş (1946), Düşten Güzel (1952), Sonrası (1957), Ziya'ya Mektuplar (1957) ve Bütün Şiirleri (1983) adlı kitaplarda eserleri birleştirilen şairin, arkadaşı Ziya Osman Saba'ya yazdığı mektuplar da yazarı tanıma açısından önemlidir.
            
            Cahit Sıtkı Tarancı 1951 yılında Cavidan Tınaz ile evlendi.
            
            Aralık 1954’te ağır bir akciğer hastalığına yakalanan ve tedavisi Türkiye’de yapılamayacağı için Viyana'ya giden Cahit Sıtkı Tarancı, 13 Ekim 1956’da, burada vefatının ardından, Ankara'ya getirilerek, toprağa verildi.
            
            Tarancı ölümünden sonra, 1957’de, Varlık Dergisi tarafından düzenlenen bir ankette, en beğenilen yazar seçilmiştir.

         
        </div>
 <!-- https://www.biyografi.info/kisi/cahit-sitki-taranci -->

        </div>
      </div>
    </div>
    

            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>