<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

        <h1 class="text-3xl text-center font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl  pt-5">
          Mehmet Akif Ersoy Hakkkında
      </h1>





      <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- ====== Navbar Section Start -->
    <!-- ====== Navbar Section End -->

    <!-- ====== Hero Section Start -->
    <div class="relative pt-[120px] lg:pt-[150px] pb-[110px] ">
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-5/12 px-4">
            <div class="hero-content mx-4 my- p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
              Mehmet Akif Ersoy, 20 Aralık 1873'te İstanbul'da doğdu. Babası Fatih Medresesi müderrislerinden Mehmet Tahir Efendi, Osmanlı Devleti'ne bağlı Arnavutluk'un İpek kazasına bağlı Şuşise Köyü'nden İstanbul'a gelmiş, annesi Emine Cemile Hanım ise Buharalı Mehmet Efendi'nin kızı olarak Samsun'da doğmuştu. Mehmet Tahir Efendi, ona ebced hesabıyla doğduğu yıl olan 1290'a karşılık gelen Rağıf ismini vermişse de çevresi tarafından Akif olarak çağırıldı. Akif dışında bir de Nuriye adında bir kızları bulunuyordu.
              Mehmet Akif, İstanbul'da Fatih'in Sarıgüzel semtinin Nasuh Mahallesi'nde doğdu. Çocukluğu Osmanlı Devleti'nin "hasta adam" olarak nitelendirildiği döneme denk geldi. 1878 yılında, Akif 4 yaşındayken Fatih'de Emir Buhari Mahalle Mektebi'ne başladı. Burada iki yıl eğitim gördükten sonra Fatih İbtidaisi'ne geçti. Aynı yıl babası ona Arapça dersleri vermeye başladı.
              
              Babasının yazın Emin Paşa'nın çocuklarına ders vermesi sebebiyle Emin Paşa'nın çocukları ile arkadaşlık kurdu. Mehmet Akif, 1882 yılında ilköğretimini tamamlayarak Fatih Merkez Rüştiyesi'ne başladı. Ayrıca Fatih Camii'nde Esad Dede'nin İran Edebiyatı derslerine katılıyordu. Lise eğitiminde Mülkiye'nin İdadi bölümünde başladıktan sonra yüksek kısmına geçti. Kısa bir süre sonra evlerinin yanması ve babasının vefatı sebebiyle okula devam edemeyip sivil veterinerlik okulu olan Baytar Mektebi'ne geçti. Şiirle ilgisi bu dönemde başlayan Mehmet Akif, ilk şiirlerini bu dönemde yazmaya başladı.
              
              22 Aralık 1893 tarihinde birincilik ile mezun olmasından sonra Orman ve Ma'adin ve Ziraat Nezare'Baytar Müfettiş Muavini olarak tayin edildi. 1895 yılında ilk eseri olan 7 beyitlik gazeli "Kur'an'a Hitab", Servet-i Fünun Gazetesi'nde yayınlandı. 4 yıl boyunca Rumeli, Anadolu ve Arabistan'da görev yaptı. Bu seyahatler Mehmet Akif'in düşünce ve yazın hayatını çok etkildi.
              
              1 Eylül 1898'de 25 yaşında iken Tophane-i Amire veznedarı Mehmet Emin Bey'in kızı İsmet Hanım ile evlendi. Aynı yıllarda Maarif Dergisi'nde ve Resimli Gazete'de şiir yazıları ve Arapça, Farsça ve Fransızca'dan yaptığı çevirilen yayınlandı. 1906 yılında Halkalı Ziraat Mektebi'ne Kitabet-i Resmiye Muallimi ve 1907'de Çiftlik Makinist Okulu'na Türkçe öğretmeni olarak atandı. Ardından bir yıl sonra II. Meşrutiyet'in ilan edildiği dönem İstanbul'da Umur-i Baytariye Dairesi Müdür Muavinliği'ne getirildi. 1908-1910 yılları arasında "Sırat'ı Müstakim" dergisinde yazdığı dönem en ünlü şiirleri "Küfe" ve "Seyfi Baba" yayınlandı.
              
              
                                            
            </div>
          </div>
          <div class="hidden lg:block lg:w-1/12 px-4"></div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="lg:text-right lg:ml-auto">
              <div class="relative inline-block z-10 pt-11 lg:pt-0">
                <img
                  src="https://mae.mehmetakif.edu.tr/img/akif/mae-1-1.jpg"
                  alt="hero"
                  class="max-w-full lg:ml-auto"
                />
                <span class="absolute -left-8 -bottom-8 z-[-1]">
                  <svg
                    width="93"
                    height="93"
                    viewBox="0 0 93 93"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >

                   
                  </svg>
                </span>
              </div>
            </div>
          </div>


          <div class="hero-content mx-4 mt-6 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
            Kısa bir süre sonra Darülfünun Edebiyat-ı Umumiye müderrisliğine tayin edilen Mehmet Akif, uzun süre bu kadroda kaldı. 1913'te İttihat ve Terakki Cemiyeti'ne girdi. I. Dünya Savaşı sırasında bu cemiyete bağlı bir örgüt olan Teşkilat-ı Mahsusa aracılığıyla Almanya'daki Müslüman tutsakların durumunu incelemek üzere Berlin’e gönderildi. Ardından Arabistan ve Lübnan'a gitmiş ve burada batı-doğu ayrımına şahit oldu. İstanbul'a döndükten sonra Darül-Hikmet-i İslamiye'nin başkatipliğine atandı. Miili Mütareke döneminde kurtuluş hareketine destek verdi. Balıkesir'de yaptığı konuşmadan dolayı İstanbul'daki görevinden alındı. Ankara Hükümeti'nin kurulmasından sonra Burdur Milletvekili olarak meclise girdi.
              
              O sırada Maarif Vekili Hamdullah Suphi Tanrıöver'nin desteği ile İstiklal Marşı için açılan yarışmaya giren Mehmet Akif Ersoy, 724 şiir arasından yarışmayı kazandı. 12 Mart 1921'de TBMM'de kabul edilen şiir, Osman Zeki Üngör tarafından 1922 senesinde besteledi. 1924'te Ankara'da Maarif Vekaletinde bir kurul toplandı. Bu kurul, 24 müzisyenin bestesinin içinden Ali Rıfat Çağatay'ın bestesini kabul etti. İstiklal Marşı, metni ve bestesiyle bütün okullara bildirildi. 1930 yılına kadar bütün okullarda söylendi. Ali Rıfat Çağatay'ın bestesinin Türk müziğinin etkisi altında olduğu gerekçesiyle 1930 yılında alınan karar uyarınca Osman Zeki Üngör'ün bestesi benimsendi ve "Türkiye Cumhuriyeti'nin Milli Marşı" olarak ilan edildi. Mehmet Akif Ersoy yarışmadan kazandığı 500 lirayı kabul etmeyerek Türk Ordusu'na armağan etti.
              
              Sakarya Zaferi'nden sonra Mısır'a gitti. 1936 yılına kadar Mısır'da Türk Dili ve Edebiyatı dersleri verdi. Siroz'a yakalanması üzerine 1935'te Lübnan'a, 1936'da Antakya'ya gitti. Hastalığının ilerlemesi üzerine ülkesine döndü ve 27 Aralık 1936'da İstanbul'da vefat etti. Mezarı Edirnekapı Şehitliği'nde bulunmaktadır.
              
              Mehmet Akif Ersoy'un en önemli eseri olan "Safahat", 7 kitaptan oluşmaktadır. 1911 yılında yazdığı birinci bölümde osmanlı toplumunun meşrutiyet dönemini; 1912 yılında yazdığı "Süleymaniye Kürsüsünde" adlı ikinci kitapta, Osmanlı aydınlarını işlemiştir. 1913'de Safahat'ın üçüncü bölümü olan "Halkın Sesleri"ni ve 1914 yılında dördüncü bölüm "Fatih Kürsüsünde"yi yazdı. Ardından 1917 tarihli "Hatıralar" ve I. Dünya Savaşı hakkında görüşlerinin yer aldığı 1924 tarihli "Asım"ı yazdı. Son ve 7. bölüm olan "Gölgeler"i 1933 yılında yazdı. Şiirlerinin toplu olarak yer aldığı 7 kitaplık eserine "İstiklal Marşı"nı koymayarak bu eserini Türk Milleti'ne armağan etmişti.
              
              Başlangıcı 1911 olan "Safahat", 1933 yılında tamamlandı. Özmer Ziya Doğrul, Mehmet Akif Ersoy'un kitaplarına almadığı şiirlerini de ekleyerek eseri, 1943 yılında tekrar yayımladı. Ardından 1987 yılında M. Ertuğrul Düzdağ, eseri önceki baskıları arasındaki farkı gösteren yeni bir basımını yaptı. "Kur'an'dan Ayet ve Hadisler" ve "Mehmet Akif Ersoy'un Makaleleri" adlı çalışmaları da ölümünden sonra yayımlanmıştır.
              
              Mesnevi, Hafız Divanı, Güllistan, Fuzuli'nin Leyla ve Mecnu'nu, Victor Hugo, Lamartine ve Emile Zola gibi eserleri okumuş olan Mehmet Akif Ersoy'un eserleri anlatıya ve övgüye dayalıdır. "Sanat sanat içindir" görüşüne karşı çıkmış dini yönü ağırlıkta bir edebiyat tarzı benimsemiştir. Edebiyat dili olarak Milli Edebiyat akımına karşı çıkmış, aruz kullanmıştır. Hatta edebiyatta batılılaşma konusunda Tevfik Fikret ile çatışmıştır.

         
        </div>


        </div>
      </div>
    </div>
    <!--  https://www.biyografi.info/kisi/mehmet-akif-ersoy#:~:text=Mehmet%20Akif%20Ersoy%2C%2020%20Aral%C4%B1k,'te%20%C4%B0stanbul'da%20do%C4%9Fdu.&text=Mehmet%20Akif%2C%20%C4%B0stanbul'da%20Fatih,Buhari%20Mahalle%20Mektebi'ne%20ba%C5%9Flad%C4%B1. -->


    



            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>