<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

        <h1 class="text-3xl text-center font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl  pt-5">
          Sait Faik Hakkkında
      </h1>





      <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- ====== Navbar Section Start -->
    <!-- ====== Navbar Section End -->

    <!-- ====== Hero Section Start -->
    <div class="relative pt-[120px] lg:pt-[150px] pb-[110px] ">
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-5/12 px-4">
            <div class="hero-content mx-4 my- p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
                
18 Kasım 1906'da Adapazarı'nda doğan yazarın gerçek ismi Mehmet Sait'tir. Babası Mehmet Faik Bey, kereste tüccarıydı. İlköğrenimine Adapazarı'nda başlayan Sait Faik, ortaöğrenimine İstanbul Erkek Lisesi ve Bursa Lisesi'nde devam etti. Edebiyat hayatına bu dönemde şiir ile atılmıştı. İlk öyküsü "İpek Mendil"i 1926 yılında yazmıştı. 1929 yılında ise Kenan Hulusi aracığı ile "Uçurtma" adlı adlı öyküsü Milliyet Gazetesi'nde yayınlandı.
1928 yılında girdiği İstanbul Üniversitesi Türk Dili ve Edebiyatı Bölümü'nde iki sene okuduktan sonra babasının isteği üzerine İsviçre'ye iktisat okumaya gitmiştir. Ancak çok geçmeden Fransa'ya geçti. 1931-1935 yılları arasında Fransa'da kaldı. Kültürel yapısı ilginç gelen Grenoble şehrinde uzun bir süre kalarak entellektüel çevrelere girdi. İçki ve avare yaşam ile tanışması böyle başladı. Burada sürdüğü düzensiz yaşan yüzünden babası onu geri çağırdı ve 1935 yılında yüksek öğrenimini yarıda bırakarak Türkiye'ye döndü.

Türkiye'ye döndükten sonra bir süre Halıcıoğlu Ermeni Yetim Mektebi'nde türkçe öğretmenliği yaptı. Ardından babasının açtığı toptancı tahıl mağazasını işletmekle uğraşsa da başarılı olamadı. II. Dünya Savaşı yıllarında "Haber" adlı gazatede adliye muhabirliği yaptı. Bu dönemden sonra sadece yazı işleriyle uğraşmaya karar vermişti. 1936'da ilk kitabı "Semaver" yayımlandı.

1939 yılında babasının ölümü üzerine yazmayı bıraktı. Maddi güçlük çeken annesiyle birlikte Burgazada'daki evinde yaşamaya başladı. 1940 yılında "Şahmerdan" adlı kitabı kitabını yayımladı. Bu kitapta bulunan bir öykü nedeniyle Sıkıyönetim Mahkemesi'nce yargılanmıştı. Baraatine kadar "Medar-ı Muaşeret Motoru" adlı kitabı da toplatıldı. 1946 yılında kendisine siroz teşhisi konulana kadar yazmaya devam etti. Hastalığının kendisinde yarattığı duygusallık olgunluk dönemi yazılarında etkili olmuştu. Fakat bir süre sonra yazmaya yeniden başladı. 1951 yılında yazdığı "Kayıp Aranıyor" adlı kitabı toplatıldı. 1953 yılında Amerika'daki "Mark Twain" derneğine fahri üye seçildi.

11 Mayıs 1954'te Burgazada'daki evinde sirozdan ölene dek yazmaya devam etti. 1963 yılında annesinin ölümünden sonra Burgazada'daki evi "Sait Faik Müzesi" haline getirildi. Vasiyeti gereğince eserleri Darüşşafaka Derneği'ne bırakıldı. Annesi Makbule Hanım'ın çabalarıyla ölümünden bir yıl sonra verilmeye başlanan hikaye ödülü "Sait Faik Hikaye Armağanı" halen devam etmektedir.
                             
            </div><!-- https://www.biyografi.info/kisi/sait-faik-abasiyanik#:~:text=18%20Kas%C4%B1m%201906'da%20Adapazar%C4%B1,bu%20d%C3%B6nemde%20%C5%9Fiir%20ile%20at%C4%B1lm%C4%B1%C5%9Ft%C4%B1. -->
          </div>
          <div class="hidden lg:block lg:w-1/12 px-4"></div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="lg:text-right lg:ml-auto">
              <div class="relative inline-block z-10 pt-11 lg:pt-0">
                <img
                  src="https://cdn.oggito.com/images/full/2017/4/sait-faik2-0005.jpg"
                  alt="hero"
                  class="max-w-full lg:ml-auto"
                />
                <span class="absolute -left-8 -bottom-8 z-[-1]">
                  <svg
                    width="93"
                    height="93"
                    viewBox="0 0 93 93"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >

                   
                  </svg>
                </span>
              </div>
            </div>
          </div>


          <div class="hero-content mx-4 mt-6 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
            İstanbul öykücüsü olarak tanınır. İstanbul’un kenar mahallelerinde, deniz kıyılarında balıkçıların arasında, köprü altında, tünele dolaşan sanatçı buralarda karşılaştığı insanları anlatmıştır.
Öykülerinde yaşama sevincini ve arzusunu dile getirmiştir. Öyküleri biçim, teknik, dil ve anlatım özellikleri bakımından olay öykücülüğünden ayrılır. Cumhuriyet dönemi klasik öykü anlayışını yıkmıştır. Konu ve olaydan çok insanların görünümleri ön plandadır.
Durum öyküsünün temsilcisidir. Türk edebiyatında “Çehov” tarzının yaygınlaşmasını sağlamıştır. Sade özentiden uzak akıcı etkileyici bir dil ve anlatımı vardır. Sanat kaygısı taşımaz.
Dünyaya bakış felsefesini “Her şey, bir insan sevmekle başlar” sözüyle özetlemiştir.
İyi bir gözlemcidir. Şiirsel bir anlatımı vardır.

         
        </div>


        </div>
      </div>
    </div>
    <!-- =https://www.edebiyatogretmeni.org/sait-faik-abasiyanik/-->


    
    <h1 class="text-2xl text-center font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl  pb-5 pt-5">
        Hayatı
    </h1>


      
<ol class="relative border-l rounded-xl bg-white bg-opacity-40 border-gray-200 dark:border-gray-700 ml-5 mr-5 mb-5 text-2xl">
    <li class="mb-5 ml-4">
    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 "></div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">18 Kasım 1906</time>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Adapazarı’nda dedesinin evinde dünyaya gelir.</h3>

    <li class="mb-5 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1910-1913</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Babasının işi nedeniyle Karamürsel’de deniz kıyısında bir evde yaşarlar.</h3>

    <li class="mb-5 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1913-1916</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Annesi ve babası bir süre ayrı yaşarlar. Annesi Makbule Hanım, babasının akrabalarından Hacı Numan Bey’in hanımı Mürüvvet Hanım’la beraber kalır. Sait Faik ise babasının evinde babaannesi ve dedesi ile yaşar; annesini ancak haftada bir gün görür.        </h3>
        
    <li class="mb-5 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1920-1922 </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Aile, Yunan işgali nedeniyle diğer akrabalarla birlikte önce Düzce’ye oradan Bolu’ya ve son olarak Hendek’e gider.</h3>

    <li class="mb-5 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> 1922 </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Sait Faik,  Adapazarı İdadisi’nde öğrenimine devam eder.</h3>

    <li class="mb-5 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1924 </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Ailecek, İstanbul’a göç ederler. Şehzadebaşı Bozdoğan Kemeri, Kirazlımescit Caddesi No:7’deki evlerine taşınırlar. Sait Faik İstanbul Erkek Lisesi’ne kaydolur.
            Şehzadebaşı’nda yaşadıkları yıllarda önce Yakacık’ta sonra da Burgazadası’nda yazlık kiralamaya başlarlar.</h3>



            <li class="mb-5 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 "></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1925</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">İğne olayı nedeniyle İstanbul Erkek Lisesi’nden atılır ve öğrenimine Bursa Erkek Lisesi’nde devam eder. İlk öyküsü olan “İpekli Mendil”i bu yıl, edebiyat dersinin ödevi olarak yazar.

                </h3>
        
                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1928</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Bursa Erkek Lisesi’nden mezun olur. İstanbul Üniversitesi Edebiyat Fakültesi Türk Dili ve Edebiyatı Bölümü’ne kaydını yaptırır.

                    </h3>
            
                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">9 Aralık 1929</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">İlk yazısı “Uçurtmalar” Milliyet gazetesinde yayımlanır.</h3>
                    
                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1930    </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Yurtdışına ilk çıkış. Amcasıyla birlikte vapurla Venedik’e oradan Lozan’a geçerler.

                    </h3>
            
                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> 1931 </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Grenoble Üniversitesi’ne yazılmadan önce Fransızcasını ilerletmek için Champollien Lisesi’nde Fransızca derslerine devam eder ve aynı yıl kısa bir süre amcasının yanına Milano’ya gider.
                        Birkaç gün sonra Fransa’ya geri döner. Üç ay sonra amcasına bir mektup yazarak Türkiye’ye dönmek istediğini bildirerek gelip kendisini almasını ister.
                        Paris üzerinden Türkiye’ye dönmek için hareket ederler, Marsilya’ya kadar birlikte giderler ama dönmekten vazgeçerek Grenoble’a geçer.
                        
                        </h3>
            
                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1932 </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Yaz tatilinde İstanbul’a gelir.

                    </h3>

            
                    <li class="mb-5 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 "></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1934</time>
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Babasının isteğiyle Orta Avrupa ve Tuna yoluyla İstanbul’a döner. Aile artık, Osmanbey Rumeli Caddesi’ndeki Rumeli Apartmanı’nda yaşamaktadır.
                            Öyküleri Varlık’ta yayımlanmaya başlar.</h3>
                    
                        <li class="mb-5 ml-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1935-1936                            </time>
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Babası Kırağı Sokak’taki (Bugünkü Nakiye Elgün Sokağı) İkbal Apartmanı’nı satın alır. Bu mülk, ailenin İstanbul’da satın aldığı ilk gayrımenkuldür.
                                Halıcıoğlu Ermeni Yetim Okulu’nda Türkçe öğretmenliği yapmaya başlar. Öğrenciler üzerinde hakimiyet kuramaması nedeniyle çıkan bir tartışma sonucunda işten ayrılır.
                                
                                </h3>
                    
                        <li class="mb-5 ml-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1936</time>
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Babası, Sait Faik’e Odunkapısı’nda zahire alım satımı yapmak için bir dükkân açar. Kendi ortaklarından Ali Emali’yi de oğlunun yanına ortak olarak yerleştirir. Ancak bu iş girişimi kısa sürede sonuçsuz kalır, Sait Faik boş dükkânının anahtarını babasına iade eder.
                                İlk kitabı Semaver Remzi Kitabevi tarafından baskı maliyetini babasının karşılamasıyla yayımlanır.
                                
                                </h3>
                            
                        <li class="mb-5 ml-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Eylül 1937 </time>
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">İkinci kez yurtdışına çıkar. Marsilya’ya gider. On sekiz gün sonra geri döner.</h3>
                    
                        <li class="mb-5 ml-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> Ağustos 1938
                            </time>
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Burgazadası’ndaki köşk satın alınır.                                .</h3>
                    
                        <li class="mb-5 ml-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">29 Ekim 1938
                            </time>
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Babası Mehmet Faik Bey yakalandığı ağır bronşitten kurtulamayarak vefat eder.
                                Babasının ölümünden sonra Sait Faik, kışları Kırağı Sokak’taki evde yazları ise adada annesiyle birlikte yaşamaya başlar.</h3>




                                <li class="mb-5 ml-4">
                                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 "></div>
                                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1939</time>
                                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Sarnıç, Çığır Kitabevi tarafından yayımlanır.                                    </h3>
                                
                                    <li class="mb-5 ml-4">
                                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1940</time>
                                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Şahmerdan, Çığır Kitabevi tarafından yayımlanır.                                        </h3>
                                
                                    <li class="mb-5 ml-4">
                                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">15 Haziran 1940
                                            </time>
                                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">“Çelme” adlı öyküsü Varlık’ta yayımlanır. (Öykü ilk kez 25 Mart 1937’de Kurun’da yayımlanmıştır.) Bu öykü nedeniyle  Askeri Mahkeme’ye verilir.                                        </h3>
                                        
                                    <li class="mb-5 ml-4">
                                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">10 Eylül 1940
                                        </time>
                                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Ankara Müdde-i Umumiliği’nde yapılan ve kendisini Avukat Fuat Ömer Keskinoğlu’nun temsil ettiği duruşmaya bizzat katılır ve beraat eder.

                                        </h3>
                                
                                    <li class="mb-5 ml-4">
                                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> 28 Nisan 1942-31 Mayıs 1942
                                        </time>
                                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Haber-Akşam Postası’nda muhabir gazeteci olarak çalışır ve mahkemelerde yaptığı röportajları izlenimleriyle birleştirerek “Mahkemelerde” başlığı altında yayımlar.

                                        </h3>
                                
                                    <li class="mb-5 ml-4">
                                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1944 </time>
                                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">4 Ekim 1940- 21 Şubat 1941 tarihlerinde Yeni Mecmua’da tefrika edilen Medar-ı Maişet Motoru Yokuş Kitabevi tarafından yayımlanır. Kitabın basım maliyetleri Sait Faik, annesinden aldığı para ile karşılar. Kitap yayımlandıktan birkaç gün sonra Bakanlar Kurulu’nun kararıyla toplatılır.                                        </h3>



            <li class="mb-5 ml-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 "></div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1945</time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Hastalanır.  Doktoru Fikret Ürgüp, içki içmemesi gerektiğini belirtir. Günlerinin çoğunu Burgazadası’nda geçirmeye başlar.

</h3>

                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1948</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Hastalığının siroz olduğu kesinleşir.
                        Lüzumsuz Adam Varlık Yayınları tarafından yayımlanır</h3>

                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1950</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mahalle Kahvesi Varlık Yayınları tarafından yayımlanır.

                    </h3>
                    
                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">29 Ocak 1951
                    </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Doktor Kazım İsmail Gürkan’ın tavsiyesiyle Doktor Justin Besançon’a muayene olmak için Paris’e gider. Doktor, on beş gün kadar hastanede yatması ve karaciğerinden parça alınması gerektiğini söyler. Bütün bunlardan korkan Sait Faik beş gün sonra İstanbul’a döner.

                    </h3>

                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> 1951 </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Kumpanya Varlık Yayınları tarafından yayımlanır.
                        </h3>


                <li class="mb-5 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1952    </time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Havuz Başı ve Son Kuşlar Varlık Yayınları tarafından yayımlanır.
                        Medar-ı Maişet Motoru, Varlık Yayınları tarafından ikinci kez basılırken Sait Faik, kitabın adını Birtakım İnsanlar, romanda geçen “Medar-ı Maişet” adlı motorun adını da “Ceylan-ı Bahri” olarak değiştirir.</h3> 
                            
                    <li class="mb-5 ml-4">
                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 "></div>
                            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1953</time>
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mark Twain Cemiyeti şeref üyeliğine seçilir.
                                Kayıp Aranıyor Varlık Yayınları tarafından yayımlanır.
                                Şimdi Sevişme Vakti Yenilik Yayınları tarafından yayımlanır.</h3>
                        
                            <li class="mb-5 ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1954</time>
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Alemdağ’da Var Bir Yılan Varlık Yayınları tarafından yayımlanır. Georges Simenon’dan çevirdiği daha önce Yedigün Dergisi’nde tefrika edilmiş olan Yaşamak Hırsı kitap olarak İstanbul Yayınları tarafından yayımlanır.



                                </h3>
                        
                            <li class="mb-5 ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">5 Mayıs 1954                                </time>
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Şiddetli bir kriz geçirir, Doktor Ahmet Erbelger durumun ciddiyeti nedeniyle Sait Faik’i hemen Marmara Kliniği’ne yatırır. Yemek borusu kanamasıyla başlayan kan kaybı nedeniyle komaya girer.

                                </h3>
                                
                            <li class="mb-5 ml-4">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">11 Mayıs 1954
                                </time>
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">02.35’te vefat eder.                                </h3>
                        
                            <li class="mb-5 ml-4 pb-10">
                                <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> 12 Mayıs 1954 </time>
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Sait Faik’in naaşı saat 11’de Marmara Kliniği’nden alınarak Şişli Camii’ne getirilir burada kılınan namazın ardından Zincirlikuyu Mezarlığı’na defnedilir. Az Şekerli Varlık Yayınları tarafından yayımlanır.                                </h3>
                        





                
</ol>
    



            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>