<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

              {% if not me %}
              <a class="nav-item nav-link mr-3 mt-1 hover:underline"  href="/login"> Giriş Yap</a>
              <a class="nav-item nav-link mx-3 pr-7 mt-1 hover:underline"  href="/register"> Kayıt Ol </a>
         

              {%else %}
              <a class="nav-item nav-link mx-3 mt-1  hover:underline"  href="/create"> Eser Ekle </a>
              <a class="nav-item nav-link  mx-3 pr-7 mt-1 hover:underline"  href="/logout"> Çıkış Yap</a>
          {%endif%}
            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

        <h1 class="text-3xl text-center font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl  pt-5">
          Ahmet Arif Hakkkında
      </h1>





      <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- ====== Navbar Section Start -->
    <!-- ====== Navbar Section End -->

    <!-- ====== Hero Section Start -->
    <div class="relative pt-[120px] lg:pt-[150px] pb-[110px] ">
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-5/12 px-4">
            <div class="hero-content mx-4 my- p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
                Şair (D. 21 Nisan 1927, Diyarbakır - Ö. 2 Haziran 1991, Ankara). Asıl adı Ahmet Önal’dır. Annesi Erbilli Sâre Hanım’ı çok küçük yaşlardayken (1929) yitirdi. Babası, Kerküklü Arif Hikmet, Diyarbakır Nüfus Müdürlüğünde çalışıyordu. Onun Siverek’e atanmasıyla, Diyarbakır’dan ayrıldılar. Diyarbakır’da yalnızca anaokuluna gidebilmişti. Okumayı burada öğrendi. Siverek İlkokuluna kaydolduğunda, okumayı biliyordu. İlkokulu Siverek’te bitirdikten sonra, ortaokula Diyarbakır’da başlasa da Urfa’da tamamladı. Yatılı olarak okuduğu Afyon Lisesini 1945’te bitirdi. 

Askerliğini yaptıktan sonra, 1947 yılında Ankara Üniversitesi Dil ve Tarih Coğrafya Fakültesi Felsefe Bölümüne kaydoldu. 1948’de, Merkez Bankası’nda memuriyete başladı. Hem çalışıyor hem okuyordu. Türk Ceza Yasası’nın 141. maddesine aykırı bulunan siyasî görüş ve eylemleri nedeniyle 1951 yılında tutuklanarak 38 ay hapiste yattı. 7 Ekim 1954’te serbest bırakıldı. Ancak, Urfa’da 8 ay kamu gözetimi altında kalması gerekiyordu. Mahkemeye başvurarak, kararı, Urfa değil de Diyarbakır olarak değiştirtti. Artık memurluk yapamazdı. Bir tuğla ve kiremit fabrikasında çalışmaya başladı. Birkaç yıl sonra tekrar Ankara’ya döndüyse de, öğrenimini tamamlama olanağı yoktu. Birçok işe girip çıktıktan sonra, Öncü ve Halkçı gibi gazetelerde düzeltmenlik, teknik sekreterlik ve gazetecilik yaptı. 

1967’de Aynur Hanım’la evlendi. 1972’de oğlu Filinta doğdu. 1977’de gazetecilikten emekli oldu. 

2 Haziran 1991 sabahı bir kalp yetmezliği sonucunda Ankara’da yaşama veda etti. Cenazesi ertesi gün Maltepe Camisi’nden kaldırılarak Cebeci Mezarlığında toprağa verildi.
                             
            </div>
          </div>
          <div class="hidden lg:block lg:w-1/12 px-4"></div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="lg:text-right lg:ml-auto">
              <div class="relative inline-block z-10 pt-11 lg:pt-0">
                <img
                src="https://foto.haberler.com/haber/2021/06/02/ahmed-arif-kimdir-ahmed-arif-olum-tarihi-ve-14171966_7787_amp.jpg"
                  alt="hero"
                  class="max-w-full lg:ml-auto"
                />
                <span class="absolute -left-8 -bottom-8 z-[-1]">
                  <svg
                    width="93"
                    height="93"
                    viewBox="0 0 93 93"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >

                   
                  </svg>
                </span>
              </div>
            </div>
          </div>


          <div class="hero-content mx-4 mt-6 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
            Ahmed Arif şiir yazmaya ortaokul yıllarında başladı. Afyon Lisesindeyken edebiyata ilgisi iyice arttı. İlk şiirleri 1942 yılında Afyon Halkevi yayın organı Taşpınar dergisi ile Millet dergisinde yayımlandı. Lise yıllarındaki şiirleri bir yana, onun özgün şiirsel yapısını yansıtan şiirleri 1948’de yayımlatmaya başladı. Attilâ İlhan’ın düzenlediği ve Varlık dergisinin yayımladığı Şiirler-1948 adlı antolojide yer alan Rüstemo başlıklı şiiri ilk şiiri olarak kabul edilir. Aynı yıl, Bir Akşamüstü adlı şiiri de, tek sayı çıkan Meydan dergisinde yayımlanmıştı. Sonraki yıllarda İnkılapçı Gençlik, Yeryüzü, Seçilmiş Hikâyeler, Soyut, Militan, Yeni Ufuklar, Türk Solu, Kaynak, Papirüs vb. dergilerde şiirleri çıktı. Daha kitabı çıkmadan şiirleri elden ele dolaşmaya başladı. 1950’li yılların sonları ile 1960’lı yılların başlarında, Fikret Otyam’ın röportajlarına şiirlerinden parçalar almasıyla, ünü yaygınlaştı. 

            İlk şiir kitabı Hasretinden Prangalar Eskittim, 1968 yılının Kasım ayında yayımlandı. Kitabın Bilgi Yayınevince yapılan bu ilk basımından sonra, çoğu Cem Yayınevince olmak üzere, altmıştan fazla yeni basımı yapılarak, Türkiye’de en çok basılan ve okunan birkaç kitaptan biri oldu. Ahmed Arif’in, Anadolu ve özellikle de Güneydoğu insanının acılarını tok bir ses, lirik ve duygulu bir anlatımla yansıtan şiirleri kendisine haklı bir ün kazandırdı. Ahmed Arif ikinci şiir kitabını “Kalbim Dinamit Kuyusu” adıyla yayımlayacağını duyurmasına karşın, bu ad, Refik Durbaş’ın kendisiyle yaptığı uzun söyleşiden oluşan kitaba konuldu. İkinci kitabı ise, şiirleri ölümünden sonra oğlu tarafından derlenerek Yurdum Benim Şahdamarım (2003) adıyla basıldı.
            
            Ahmed Arif’in şiirinin altörgesinde, Divan şiiri ile Halk şiiri geleneklerini görmenin olanaklı olduğunu söylemek yanlış olmaz. Önce Nâzım Hikmet’i, sonra Niyazi Akıncıoğlu ve Enver Gökçe gibi şairleri besleyen bu kaynaklar, Ahmed Arif şiirinin de, özellikle söylem biçimi olarak, beslendiği gözelerdir. Ahmed Arif’in çok sevilerek yaygın üne kavuşan bir şair olmasının temelinde, Anadolu insanının kulağına yabancı gelmeyen bu sesi yakalayarak kendinin kılma becerisi yatar.
         
        </div>


        </div>
      </div>
    </div>
    <!-- =https://www.turkedebiyati.org/sait_faik_abasiyanik.html-->


    
    <h1 class="text-2xl text-center font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl  pb-5 pt-5">
        
    </h1>


      



            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>