<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

             
            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

        <h1 class="text-3xl text-center font-bold tracking-wide text-gray-800 dark:text-white lg:text-5xl  pt-5">
          Ahmet Hamdi Tanpınar Hakkkında
      </h1>





      <script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- ====== Navbar Section Start -->
    <!-- ====== Navbar Section End -->

    <!-- ====== Hero Section Start -->
    <div class="relative pt-[120px] lg:pt-[150px] pb-[110px] ">
      <div class="container">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-5/12 px-4">
            <div class="hero-content mx-4 my- p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
                Çocukluğu İstanbul’da geçti. İstanbul’da, Ravza-i Maarif İptidaî Mektebinde (ilkokul) başladığı öğrenimine Sinop ve Siirt rüştiyelerinde (ortaokul) devam etti. Siirt’te, Katolik Dominicain misyonerlerinin yönettiği Fransız mektebinde de bir yıl kadar okudu. Ortaöğrenimini Vefa, Kerkük, Antalya sultanîlerinde (lise) okuyup tamamladıktan sonra, bir yıl Baytar Mektebine devam etti.

                1919’da girdiği İstanbul Üniversitesi Edebiyat Fakültesini “Şeyhî’nin Hüsrev ve Şîrin’i” adlı tezi ile 1923’te bitirdi. Fakültedeki hocaları arasında Cenap Şahabettin, Yahya Kemal, Necip Asım, Rıza Tevfik, Fuad Köprülü, Ferit Kam, Yusuf Şerif Kılıçel, Ali Ekrem Bolayır, Hüseyin Dâniş de vardır. Hasan Âli Yücel, Mustafa Nihad Özön, Halil Vedat Fıratlı, Necmettin Halil Onan, Rıfkı Melûl Meriç, Mehmet Halit Bayrı sınıf veya devre arkadaşlarıdır.
                
                Erzurum, Konya, Ankara liseleri, Ankara Gazi Eğitim Enstitüsü ve İstanbul Kadıköy Lisesinde edebiyat, Güzel Sanatlar Akademisinde estetik ve mitoloji, Üsküdar Amerikan Kolejinde edebiyat öğretmenliği yaptı (1923-39). İbnülemin’in konağına devam etti. İstanbul Üniversitesi Edebiyat Fakültesi Türk Dili ve Edebiyatı Bölümü Yeni Türk Edebiyatı Kürsüsüne atanan (1939) ilk profesör oldu. 1940’ta Kırklareli’nde topçu teğmeni olarak yaptığı askerlik görevinden sonra yeniden üniversiteye döndü. Maraş’tan milletvekili seçilerek 1943-46 yıllarında parlamentoda yasama görevi yaptı.
                
                Samed Ağaoğlu’nun aktardığı bir konuşmasına göre politikaya girişinden memnun değildir:
                
                “Bak Samet. Ben Büyük Millet Meclisine değil, bir tekkeye girmişim meğer! Postnişin bir şeyh, çevresinde derece derece rütbeli şeyhler, sonra yine derece derece rütbeli müritler. Şeyh ve yanındakiler koridorların ortasında, başları dimdik, gözleri dört yana fırıl firıl dönerek dolaşıyorlar. Müritler de yine derecelerine göre duvar diplerine yakın sıralar hâlinde. Benim gibi yeniler ise duvarlara hemen hemen sürünerek, başları eğik yürüyorlar, daha çok kaş göz işaretleri ile konuşmağa çalışıyorlar. Niye girdim bu tekkeye? Niye girdim?”
                
                1946 yılındaki seçimlerde aday gösterilmedi. Bir müddet Millî Eğitim Bakanlığı müfettişliği (1946-48) ve 1948’de Güzel Sanatlar Akademisinde hocalığının ardından eski görevi Edebiyat Fakültesi Türk Dili ve Edebiyatı profesörlüğüne döndü (1949). Son Çağ Türk Edebiyatı Kürsüsündeki bu görevini ölümüne kadar sürdürdü.
                
                1953 yılında altı ay, 1955’te filoloji kongresine katılmak için üç hafta, 1959’da bir yıl kalmak üzere üç defa yurtdışına çıktı. Paris, Fransa’nın diğer şehirleri, Belçika, Hollanda, İngiltere, İspanya, Portekiz, İtalya ve İsviçre’yi gördü. 23 Ocak’ta kalp krizi geçirdi, Haseki Hastahanesine kaldırıldı, ertesi sabah, ikinci bir krizle vefat etti.

             
            </div>
          </div>
          <div class="hidden lg:block lg:w-1/12 px-4"></div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="lg:text-right lg:ml-auto">
              <div class="relative inline-block z-10 pt-11 lg:pt-0">
                <img
                  src="http://www.tanpinarmerkezi.com/v2/wp-content/uploads/2017/01/tanpinar43.jpg"
                  alt="hero"
                  class="max-w-full lg:ml-auto"
                />
                <span class="absolute -left-8 -bottom-8 z-[-1]">
                  <svg
                    width="93"
                    height="93"
                    viewBox="0 0 93 93"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >

                   
                  </svg>
                </span>
              </div>
            </div>
          </div>


          <div class="hero-content mx-4 mt-6 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl text-base font-semibold text-gray-900 dark:text-white">
             
            İlk şiirleri 1921-23 arasında Dergâh dergisinde yayımlandı. Daha sonra Millî Mecmua, Hayat, Görüş dergilerinde şiir yayımladı. 1932 yılından sonra yazdığı şiirleri Varlık, Ağaç, Görüş, Oluş, Ülkü, İstanbul vd. dergilerde yayımlandı. Şiirlerinin küçük bir bölümünü ölümünden bir yıl önce kitaplaştırdı. Şiirlerinden çok romanları ve edebiyat tarihi araştırmalarıyla tanındı.

Ahmed Hamdi Tanpınar eserleriyle, kişiliği ve kültürüyle önemli bir yazardır. Edebiyatın roman, hikâye, deneme, şiir, tenkit, inceleme, edebiyat tarihi alanlarında eser verdi. Önce hocası, daha sonra dostu olan Yahya Kemal’den Batı edebiyatı ve divan şiirinin zevkini, millet ve tarih hakkındaki görüşlerinin temelini, edebî eserin dille ilgisini ve dili kullanma sanatını aldı. Onun öncülüğüyle, öğrenciliğinde Baudelaire, Verlaine, Mallarmé, Anatole France, Goethe, Dostoyevski’yi yoğun olarak okudu.

Güzel Sanatlar Akademisindeki estetik ve mitoloji hocalığı sırasında plastik sanatlarla olan yakınlığı, ileride edebiyatla, şiirle ilgili yazılarına yansıdı. Lanson, Brunetiére, Thibaudet gibi Fransız eleştirmen ve edebiyat tarihçilerini; Freud, Jung ve Bachelard’ı okudu. Türk musikisi de yoğunlukla ilgilendiği bir alan oldu. Zaman duygusunu, mazi düşüncesini ve rüya estetiğini eserlerinde sıkça işledi ve eserlerinin dokusuna kattı. N. Gürbilek’in deyimiyle akmakta olan zaman, erkek; geçmiş, kadındır onda.

Psikolojik tahlillere geniş yer verdiği hikâye ve romanlarında batılılaşma ve gelenekler arasında kalarak arayışlar ve tıkanmalar içinde bunalan kişileri anlattı. Romanlarının temel sorunsalı, Türk toplumunun yaşadığı Batılılaşma değişimi ve dönüşümüdür. 1948’deki tefrikası geliştirilerek yayımlanan Huzur’da, Cahit Tanyol’un ifadesiyle “Yahya Kemal’in dev kanatlarından sızan ilhamlı ve bereketli ışığın bir taşıyıcıs, bir işçisi” olan Tanpınar, bizi “hakikat”le yüz yüze getirmiştir.

Saatleri Ayarlama Enstitüsü’nde ironi yoluyla devrinin keskin biçimde eleştirisini yaptı. Mahur Beste, tefrika edildiği biçimde yayımlanmış, aslında tamamlanmamış bir romandır. Bu roman, kökleri Osmanlı modernleşmesi içinde yer alan bir ailenin tarihini, uç bireylerin tasvirleri eşliğinde anlattı. Aynı zamanda o dönemin ilmiye sınıfının çöküşü de romandaki bazı figürler aracılığıyla ikinci bir tema olarak anlatıldı.

Tanpınar’ın ilk iki hikâyesi, “Geçmiş Zaman Elbiseleri” ve “Erzurumlu Tahsin”dir. İlk hikâyesinde olay rüya gibi bir dekor içinde geçer. Hikâyelerinde rüya temasını sıkça işledi. “Abdullah Efendinin Rüyaları” tamamen bir rüya hikâyesidir. “Rüyalar Hikâyesi”nde ise bu doğrultuda çok yönlü açıklamalar ve yorumlar getirdi. Yazarlık hayatı boyunca toplam on dört öykü yayımladı.

Öykülerinde, rüya, gerçek ve zaman kavramlarını tartıştı; onları, psikolojik yoğunluk, şaşırtıcı semboller ve soyutlama yaklaşımlarıyla ördü. Öykülerinde hep bir “güzellik yaratmak” peşinde oldu; çünkü ona göre öykü, hayat güzelleşsin diye yazılmalıdır. Anlattığı her şeyi folklor olmaktan çıkarıp sembollerle sanat katına çıkarttı. Öykülerinde sağlam, üzerinde inceden inceye düşünülmüş bir yapı kurdu. Tanpınar’ın öyküleri, Hüseyin Su’nun ifadesiyle “bütün yazdıklarının iklimini, birikimini, paylaşmalarının yanında, dili ve üslûbu, kurduğu tahkiye dünyası, zaman, rüya, musıkî, kadın, ölüm, hayat, ikinci hayat ve ikinci ben… gibi kendine özgü anlatım renkleri açısından da sanatçı kişiliğinin romancıdan sonra gelen sıfatı olmuştur.”

         
        </div>


        </div>
      </div>
    </div>
    <!-- =https://www.biyografya.com/biyografi/570-->



      



            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>