<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900 ">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

             
            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

    <h1 class="text-3xl text-center font-bold tracking-wide  text-white lg:text-5xl  pt-5">
      Müze Hakkında
  </h1>


      <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32"> 
            <div class="container mx-auto">
                <div class="grid-cols-3 p-20 space-y-2  lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3">
                    <div class="w-full p-1 md:p-2">

                        <a data-fancybox="gallery" data-caption="" href="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a0d6b178.jpg"> <img src="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a0d6b178.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
        
                      </div>
                      
                    <div class="w-full col-span-2 row-span-2 rounded">
                        <a data-fancybox="gallery" data-caption="" href="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93ad7de82b.jpg"> <img src="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93ad7de82b.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a53351e2.jpg"> <img src="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a53351e2.jpg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a5f4ee78.jpg"> <img src="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a5f4ee78.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a8ff2fce.jpg"> <img src="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a8ff2fce.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a229099e.jpg"> <img src="http://ataturkkitapligi.ibb.gov.tr/ataturkkitapligi/gorsel/52b93a229099e.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                </div>
            </div>
          </div>
      </section>

      


      <div class=" mx-4 my-18 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl">


        <h1 class=" mb-8 text-lg capitalize font-bold text-base  text-white"></h1>
        <p class = "tracking-wide mx-4 my- p-5 mb-4 rounded-xl text-base font-semibold text-white">
          Aşiyan Müzesi 1905 yılında yapılmaya başlamış olup 1906 yılında kullanılmaya hazır hale gelmiştir. Tevfik Fikret’in de 1906 ve 1915 yılında yaşamını sürdürdüğü bilinen bu ev, Tevfik Fikret’in vefatından sonra bir süre kullanımda kaldıktan sonra maddi geçim sıkıntısı nedeniyle eşi tarafından öğrenciler için kalma yeri olarak kiraya verilmiştir. Daha sonrasında Hasan Ali Yücel ve Lütfi Kırdar tarafından bu sanat dolu evin müzeye çevrilmesi kararı alınmıştır. Bu kararın alınmasının ardından 1945 yılında Tanzimat Edebiyatı ve Edebiyat-ı Cedide döneminin önemli sanatkâr isimlerinin eşyaları sergilenmek üzerine toparlanmıştır. Ve yine 1945 senesinde müze Edebiyat-ı Cedide ismiyle ziyarete açılmıştır. Tevfik Fikret’in mezarı da 1961 senesinden sonra bu müzeye defnedilmiş ve müzenin adı Aşiyan Müzesi olarak değiştirilmiştir. Şu anda da Tevfik Fikret’in yaşadığı bu ev Aşiyan Müzesi olarak insanların ziyaretine açıktır.

          Tevfik Fikret, oturduğu bu evin mimarisini kendisi yapmış ve Farsçada “yuva” anlamını taşıyan aşiyan kelimesini eve uygun görmüştür.  
        
        </p>
    </div>  

    

    <div class=" mx-4 my-18 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl">


        <h1 class=" mb-8 text-lg capitalize pl-2 font-bold text-base text-white"></h1>
        <p class = "tracking-wide mx-4 my- p-5 mb-4 rounded-xl text-base font-semibold text-white ">
            
          Aşiyan Müzesi bölümleri birçok kısma ayrılmakta ve her bölüm ayrı işlev görmektedir. 3 katlı olup bir bahçenin içerisinde bulunan bu evde bahçesiyle beraber 9 bölüm bulunmaktadır. Bu bölümler bahçe, salon, Edebiyat-ı Cedide, Abdülhak Hamit Tarhan, çalışma odası, yemek odası, mutfak ve çamaşırhane, yatak odası, Şair Nigâr bölümü olarak sıralanmaktadır. <br>

          İdari işlerin toplandığı bölüm zemin bölümü olarak ele alınmaktadır. Salon evin girişi katında yer almaktadır. Şair Tevfik Fikret’in balmumu heykelinin bulunduğu odadır. Tevfik Fikret’in Sis başlıklı şiirinden ilham alarak Osmanlı Halifesi Şehzade Abdülmecid Efendi’nin resmettiği Sis adlı tablosu ile Tevfik Fikret’in kendi eseri olan “Krizantemli Vazo” ve “Nazime Hanım Bebek Sırtlarında” adlı tablolar bu bölümde insanlara sunulmaktadır. Şairin babası Hüseyin Efendi’nin eşyası ile oğlu Haluk’a ait fotoğraflar için ayrı birer köşe bulunur. Birinci katta o dönemin önemli isimleri olan Edebiyat-ı Cedidecilerin adının verildiği Edebiyat-ı Cedide odası bulunmaktadır. Bu odada Edebiyat-ı Cedidecilere ait kitap ve fotoğraf gibi önemli parçalar bulunmaktadır. Birinci katta bulunan diğer bir oda ise Abdülhak Hamit’in adını alan odadır. <br>

Burada da aynı şekilde Abdülhak Hamit’e ait önemli ve değerli parçalar yer almaktadır. Bunlar; kişisel eşyalar, fotoğraflar, çalışma masası, tablolardır. Yine aynı şekilde Şair Nigar’ın önemli ve değerli eşyalarının bulunduğu ve onun ismini almış oda da birinci katta yerini almaktadır. Evin bu bölümü, Şair Nigâr Hanım’ın oğlu Salih Keramet Nigar’ın müzeye bağışladığı eşya ile kütüphane ve arşivi içerir. Evin ikinci katı Tevfik Fikret için ayrılmıştır. İkinci katta ünlü şairin yıllarca kullandığı, ondan izler taşıyan yatak odası ve çalışma odası yer almaktadır. Yatak Odası, Tevfik Fikret’in bu hayata veda ettiği bölümdür. Ölümünden sonra Mihri Müşfik Hanım tarafından alınan yüz maskı bu bölümdeki en önemli eserlerdendir. Bu odalarda şahsi eşyaları ve kendi emeğiyle yapılan resimler ve tablolar sergilenmektedir.
        </p>
    </div>  

 <!--
   https://www.yerelnet.org.tr/il/istanbul/besiktas/asiyan-muzesi/
 -->
     
    

<!--



    <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2 ">

                <a data-fancybox="gallery" data-caption="Ahmet Arif'in kendi el yazısıyla yazdığı 'Yurdum Benim Şahdamarım' adlı şiiri" href="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_151734_098.jpg"> <img src="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_151734_098.jpg"  class="block object-cover object-center w-full h-full rounded-lg hover:scale-110 " alt="sait"></a>

              </div>

            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">

                <a data-fancybox="gallery" data-caption="Gözlük, Kalem ve Daktilosu" href="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_151926_583.jpg"> <img src="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_151926_583.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">

                <a data-fancybox="gallery" data-caption="Adına gelen bir mektup" href="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_151641_760.jpg"> <img src="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_151641_760.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>


            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Yerli ve Yabancı birçok yazarın eserlerinin bulunduğu kütüphane bölümğ" href="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_153425_519.jpg"> <img src="https://www.neokuyorum.org/wp-content/uploads/IMG_20170330_153425_519.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
              </div>
            </div>


            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Kütüphane" href="https://mekan360.com/placephotos/1662/ahmed-arif-muzesi-diyarbakir_7.jpg"> <img src="https://mekan360.com/placephotos/1662/ahmed-arif-muzesi-diyarbakir_7.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="" href="https://mekan360.com/placephotos/1662/ahmed-arif-muzesi-diyarbakir_2.jpg"> <img src="https://mekan360.com/placephotos/1662/ahmed-arif-muzesi-diyarbakir_2.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      -->


            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700 mt-5" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>