<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900 ">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

    <h1 class="text-3xl text-center font-bold tracking-wide  text-white lg:text-5xl  pt-5">
      Müze Hakkında
  </h1>


      <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32"> 
            <div class="container mx-auto">
                <div class="grid-cols-3 p-20 space-y-2  lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3">
                    <div class="w-full p-1 md:p-2">

                        <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/522aa3c7-0ae1-44d7-880c-334046acf847.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/522aa3c7-0ae1-44d7-880c-334046acf847.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
        
                      </div>
                      
                    <div class="w-full col-span-2 row-span-2 rounded">
                        <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/f9b2c3ed-6316-4eff-82e8-ca9e0b0a6a61.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/f9b2c3ed-6316-4eff-82e8-ca9e0b0a6a61.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/fae64084-7708-41f1-be5c-f9987ed1ceab.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/fae64084-7708-41f1-be5c-f9987ed1ceab.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/70d85660-ef98-42d1-9ca5-55563351b745.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/70d85660-ef98-42d1-9ca5-55563351b745.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/2362ff7e-8e61-44d5-8c0b-16f9a881e043.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/2362ff7e-8e61-44d5-8c0b-16f9a881e043.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/24472110-3e1d-4262-b132-cf5a61affcad.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/24472110-3e1d-4262-b132-cf5a61affcad.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                </div>
            </div>
          </div>
      </section>

      


      <div class=" mx-4 my-18 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl">


        <h1 class=" mb-8 text-lg capitalize font-bold text-base  text-white"></h1>
        <p class = "tracking-wide mx-4 my- p-5 mb-4 rounded-xl text-base font-semibold text-white">
          Ünlü şairimiz Cahit Sıtkı Tarancı’nın doğduğu ve çocukluk yıllarını geçirdiği ev 1733 yılında inşa edilmiştir. Diyarbakır’ın geleneksel konut mimarisinin tüm özelliklerini taşıyan, merkezi bir avlu etrafında sıralanmış dört kanattan oluşan ev zemin artı bir katlı olarak tamamen bazalt taş kullanılarak inşa edilmiştir.
          Bina iklim şartlarına uygun olarak yazlık (kuzeyde), kışlık (güneyde), ilkbahar (doğuda) ve sonbaharlık bölümden (batıda) oluşmaktadır.
            
  Mutfak kuzey doğu köşede eyvan şeklinde düzenlenmiş, güneybatı köşede de hamam yapısı bulunmaktadır. Binada büyüklü küçüklü toplam 14 oda, mutfak, kiler ve tuvalet bulunmaktadır. Binanın en önemli yeri iki katlı olan yazlık kısmıdır. Bu bölümün ikinci katında önünde çift kemer açıklıklı eyvanı ile baş oda ya da mabeyn odası olarak adlandırılan büyük bir oda bulunmaktadır.
  Cahit Sıtkı Tarancı 2 Ekim 1910 yılında bu odada dünyaya gelmiştir. 1973 yılında Kültür Bakanlığınca Tarancı ailesinden alınarak kamulaştırılan ev, 1974 yılında restore edilerek Cahit Sıtkı Tarancı Kültür Müzesi olarak ziyarete açılmıştır.
        
        </p>
        <!-- https://www.kulturportali.gov.tr/turkiye/diyarbakir/gezilecekyer/caht-siki-taranci-muzes -->
    </div>  

    

    <div class=" mx-4 my-18 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl">


        <h1 class=" mb-8 text-lg capitalize font-bold text-base text-white"></h1>
        <p class = "tracking-wide  text-base font-semibold text-white ">
        Binada büyüklü küçüklü toplam 14 oda, mutfak, kiler ve tuvalet bulunmaktadır. Binanın en önemli yeri iki
        katlı olan yazlık kısmıdır. Bu bölümün ikinci katında önünde çift kemer açıklıklı eyvanı ile başoda yâda
        mabeyn odası olarak adlandırılan büyük bir oda bulunmaktadır. Cahit Sıtkı Tarancı 2 Ekim 1910 yılında bu
        odada dünyaya gelmiştir. 1973 yılında Kültür Bakanlığınca Tarancı ailesinden alınarak kamulaştırılan ev,
        1974 yılında restore edilerek Cahit Sıtkı Tarancı Evi Kültür Müzesi olarak ziyarete açılmıştır.

        <!--https://turkishmuseums.com/Uploads/M%C3%BCze/Dosya/dde2b471-a55c-41e0-abe4-7393d827b37a.pdf-->

        
        </p>
    </div>  


     
    


    <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2 ">

                <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/1f0abb2f-f4c9-4174-8d22-ed8926a1480f.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/1f0abb2f-f4c9-4174-8d22-ed8926a1480f.jpg"  class="block object-cover object-center w-full h-full rounded-lg hover:scale-110 " alt="sait"></a>

              </div>

            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">

                <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1d/42/29/0b/caption.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1d/42/29/0b/caption.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">

                <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://gezgince.com/Makale/21/99999/7/12/367131ccc61bbb74ea6ac8b0d626d697b4ac7f91/cahit-sitki-taranci-evi.jpeg"> <img src="https://gezgince.com/Makale/21/99999/7/12/367131ccc61bbb74ea6ac8b0d626d697b4ac7f91/cahit-sitki-taranci-evi.jpeg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>


            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/abf0fcd9-b78c-4bfd-8ac9-f9cd1d3f63cc.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/abf0fcd9-b78c-4bfd-8ac9-f9cd1d3f63cc.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
              </div>
            </div>


            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/58eaf39e-2ef3-471f-9dd4-09e82d675b50.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/58eaf39e-2ef3-471f-9dd4-09e82d675b50.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/29dddcbe-a340-4cf4-8dcf-83796e9edec9.jpg"> <img src="https://turkishmuseums.com/Uploads/Müze/Foto/Fotoğraflar/29dddcbe-a340-4cf4-8dcf-83796e9edec9.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      


            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700 mt-5" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>