<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900 ">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->
      

    <h1 class="text-3xl text-center font-bold tracking-wide  text-white lg:text-5xl  pt-5">
      Müze Hakkında
  </h1>


      <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
            <div class="container mx-auto">
                <div class="grid-cols-3 p-20 space-y-2  lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3">
                    <div class="w-full p-1 md:p-2">

                        <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/e1/df/68/charles-dickens-museum.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/e1/df/68/charles-dickens-museum.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
        
                      </div>
                      
                    <div class="w-full col-span-2 row-span-2 rounded">
                        <a data-fancybox="gallery" data-caption="" href="https://cdn.shopify.com/s/files/1/0925/3888/files/Christmas_-_Drawing_room.jpg?4496960152696386385"> <img src="https://cdn.shopify.com/s/files/1/0925/3888/files/Christmas_-_Drawing_room.jpg?4496960152696386385"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/e6/53/df/second-floor.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/e6/53/df/second-floor.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="https://cdn.londonandpartners.com/asset/d1805353f8b98d45461feba93d70cebc.jpg"> <img src="https://cdn.londonandpartners.com/asset/d1805353f8b98d45461feba93d70cebc.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9rs_YCcrkLxOcngYR3DiJ9CMGA_xpfwmA78nxOb9LXiEVFDy_50xiGY2VsKjSsAcst9o&usqp=CAU"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9rs_YCcrkLxOcngYR3DiJ9CMGA_xpfwmA78nxOb9LXiEVFDy_50xiGY2VsKjSsAcst9o&usqp=CAU"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                    <div class="w-full rounded">
                        <a data-fancybox="gallery" data-caption="" href="https://upload.wikimedia.org/wikipedia/commons/6/6f/Charles_Dickens_Museum_London.jpg"> <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Charles_Dickens_Museum_London.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

                    </div>
                </div>
            </div>
          </div>
      </section>

      


      <div class=" mx-4 my-18 p-5 mb-4 rounded-xl bg-white bg-opacity-40 shadow-2xl">


        <h1 class=" mb-8 text-lg capitalize font-bold text-base  text-white"></h1>
        <p class = "tracking-wide  text-base font-semibold text-white">
            48 Doughty Caddesi'nde yer alan müze İngiliz yazar Charles Dickens'ın evliliğinin 1 yıl sonrasında taşındığı 1837'den 1839'a kadar yaşadığı ev günümüzde Charles Dickens Müzesi olarak ziyaretçilere açılmıştır. Yazar ve karısı bu evde yaşamış, on çocuklarının en büyük ikisi bu evde dünyaya gelmiştir. Charles Dickens ekonomik varlığı arttığında daha büyük evlere taşınmıştır. Ancak bu ev Charles Dickens'ın yaşadığı ve günümüze kadar gelebilen tek evdir. Müzede yazarın kullandığı eşyalar, mobilyalar, çalışmaları ve tablolar bulunmaktadır. Ayrıca müzede yazarın en önemli portesi Dicken'ın Rüyası tablosu sergilenmektedir. Dickens bu evde yaşadığı dönemde oldukça üretken olmuştur. Bu dönemde Oliver Twist, Bay Pikvik’in Serüvenleri (roman) kitaplarını yazmıştır. Ev 1925'te müze haline dönüştürülmüştür.

        <!--
          http://saitfaikmuzesi.org/muze-hakkinda/
        -->
        </p> 
        <h1 class=" mb-8 text-lg capitalize font-bold text-base  text-white"></h1>

    </div>  

    

     
    


    <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2 ">

                <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/00/ed/ed/mr-mrs-dickens.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/00/ed/ed/mr-mrs-dickens.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg hover:scale-110 " alt="sait"></a>

              </div>

            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">

                <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/05/c3/f2/e9/dickens-original-writing.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/05/c3/f2/e9/dickens-original-writing.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">

                <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/0d/81/c2/photo7jpg.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/0d/81/c2/photo7jpg.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>


            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/76/c6/d4/charles-dickens-museum.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/76/c6/d4/charles-dickens-museum.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
              </div>
            </div>


            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/eb/46/d0/dickens-s-study.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/eb/46/d0/dickens-s-study.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="" href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/eb/46/10/another-bedroom.jpg?w=1200&h=-1&s=1"> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/eb/46/10/another-bedroom.jpg?w=1200&h=-1&s=1"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      


            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700 mt-5" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>