<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

             
            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->

    

      

    <h1 class="text-3xl text-center font-bold tracking-wide  text-white lg:text-5xl  pt-5">
      Galeri
  </h1>

    

      <div class="flex space-y-2 lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3 justify-center sm: m-20">
        
          <div class="w-full col-span-3 row-span-3 rounded  ">
            <a data-fancybox="gallery" data-caption="" href="https://mae.mehmetakif.edu.tr/img/akif/mae-1-1.jpg"> <img src="https://mae.mehmetakif.edu.tr/img/akif/mae-1-1.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

          </div>
      </div>



    <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2 ">
                <a data-fancybox="gallery" data-caption="Gençliği" href="https://mae.mehmetakif.edu.tr/img/akif/mae-1-2.jpg"> <img src="https://mae.mehmetakif.edu.tr/img/akif/mae-1-2.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Mısırda iken çekilmiş bir fotoğrafı" href="https://www.salakfilozof.com/wp-content/uploads/2022/01/mehmet-akif-ersoy-salakfilozof-4-1068x601.jpg"> <img src="https://www.salakfilozof.com/wp-content/uploads/2022/01/mehmet-akif-ersoy-salakfilozof-4-1068x601.jpg "  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Soldan sağa Cenap Şahabettin, Abdülhak Hamit Tarhan, Sami Paşazade Sezai ve Mehmet Akif Ersoy" 
                href="https://www.salakfilozof.com/wp-content/uploads/2021/10/abdulhak-hamit-tarhan-salakfilozof-3.jpg"> <img src="https://www.salakfilozof.com/wp-content/uploads/2021/10/abdulhak-hamit-tarhan-salakfilozof-3.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Mebus iken çekilmiş bir fotoğrafı" href="https://img.timeturk.com/resim/fotogaleri/651/49358.jpg"> <img src="https://img.timeturk.com/resim/fotogaleri/651/49358.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Oğlu Emin Akif ile" href="http://www.leblebitozu.com/wp-content/uploads/2015/08/mehmet-akif-ersoy-11.jpg"> <img src="http://www.leblebitozu.com/wp-content/uploads/2015/08/mehmet-akif-ersoy-11.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Oğlu Tahir ve Emin Akif ile" href="https://www.indyturk.com/sites/default/files/thumbnails/image/2020/01/24/267836-268412510.jpg"> <img src="https://www.indyturk.com/sites/default/files/thumbnails/image/2020/01/24/267836-268412510.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
          </div>
        </div>


        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2 ">
                <a data-fancybox="gallery" data-caption="Mehmet Akif Ersoy’un kızları Feride ve Suad" href="https://www.dunyabulteni.net/images/album/0x0-02.jpg"> <img src="https://www.dunyabulteni.net/images/album/0x0-02.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Kahire'e çekilmiş bir fotoğrafı" href="https://www.dunyabulteni.net/images/album/0x0-04.jpg"> <img src="https://www.dunyabulteni.net/images/album/0x0-04.jpg "  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Damadı Ahmed Bey ve Kızı Suad Hanım" href="https://img.timeturk.com/resim/fotogaleri/651/78419.jpg"> <img src="https://img.timeturk.com/resim/fotogaleri/651/78419.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Hasta iken çekilmiş bir fotoğrafı" href="https://www.salakfilozof.com/wp-content/uploads/2022/01/mehmet-akif-ersoy-salakfilozof-2.jpg"> <img src="https://www.salakfilozof.com/wp-content/uploads/2022/01/mehmet-akif-ersoy-salakfilozof-2.jpg "  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Mısır'da iken çekilmiş bir fotoğrafı" href="https://mae.mehmetakif.edu.tr/img/akif/mae-1-4.jpg"> <img src="https://mae.mehmetakif.edu.tr/img/akif/mae-1-4.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Cenazesi taşınırken" href="https://cdn1.ntv.com.tr/gorsel/Wnbv9m37MkCoVPsSPqz9uA.jpg?width=1000&mode=both&scale=both&v=1616075543767"> <img src="https://cdn1.ntv.com.tr/gorsel/Wnbv9m37MkCoVPsSPqz9uA.jpg?width=1000&mode=both&scale=both&v=1616075543767"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
          </div>
        </div>
      </section>
      
      





            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>