<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script type="module">
      import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.esm.js";
    </script>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

</head>

<body class="bg-gradient-to-r from-gray-800 to-blue-900">

    
    
    <div class="flex  h-10  text-gray-200   mb-3 "> 
            <div class="flex flex-row w-screen bg-black justify-end" >

             
            </div>



    </div>


    <!--
          <div class="embed-container"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12066.329201498538!2d29.067450000000004!3d40.88104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbb3ffc0eab03a28!2sSait+Faik+Abasiyanik+Museum!5e0!3m2!1sen!2sus!4v1417439998905" width="600" height="450" frameborder="0"></iframe></div>
    

    <a data-fancybox="gallery" href="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg"> <img src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/05/10/thumbs_b_c_df2ab58fccbe59a5e2684b714c631768.jpg" alt="a"></a>
    <a data-fancybox="gallery" href="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg"> <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5e985f35c9de3d007c50b51b.jpg" alt="b"></a>
    -->

    

      

    <h1 class="text-3xl text-center font-bold tracking-wide  text-white lg:text-5xl  pt-5">
      Galeri
  </h1>

    

      <div class="flex space-y-2 lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3 justify-center sm: m-20">
        
          <div class="w-full col-span-3 row-span-3 rounded  ">
            <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="https://cdn.oggito.com/images/full/2017/4/sait-faik2-0005.jpg"> <img src="https://cdn.oggito.com/images/full/2017/4/sait-faik2-0005.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

          </div>
      </div>



    <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2 ">
                <a data-fancybox="gallery" data-caption="Sait Faik Gençlik" href="http://www.artfulliving.com.tr/image_data/content_m/e6dad88720a989d314e3591ea736097c.jpg"> <img src="http://www.artfulliving.com.tr/image_data/content_m/e6dad88720a989d314e3591ea736097c.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Sait Faik ve Arkadaşları" href="https://bisorubicevap.com/images/bisoru-bicevap/neden/sait-faik-abasiyanik-ve-40-arkadasi-neden-surgun-edilmistir.jpg"> <img src="https://bisorubicevap.com/images/bisoru-bicevap/neden/sait-faik-abasiyanik-ve-40-arkadasi-neden-surgun-edilmistir.jpg  "  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="" href="http://saitfaikmuzesi.org/wp-content/uploads/2013/05/saitfaikhayati27.jpg"> <img src="http://saitfaikmuzesi.org/wp-content/uploads/2013/05/saitfaikhayati27.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="" href="https://bogazinsesi.com/wp-content/uploads/2018/01/vbwpABTVfE2djCX_DUXFlg.jpg"> <img src="https://bogazinsesi.com/wp-content/uploads/2018/01/vbwpABTVfE2djCX_DUXFlg.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption=" Soldan sağa Efser Berk, Sait Faik, Münevver Andaç, Peride Celal ve Nazım Hikmet" href="https://www.adalaragidelim.com/wp-content/uploads/2021/05/efser-berk-sait-faik-mu%CC%88nevver-andac-peride-celal-nazim-hikmet.jpeg"> <img src="https://www.adalaragidelim.com/wp-content/uploads/2021/05/efser-berk-sait-faik-mu%CC%88nevver-andac-peride-celal-nazim-hikmet.jpeg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Sait Faik ve Refik Halit Karay" href="https://www.insanokur.org/wp-content/2019/10/sait-faik-abas%C4%B1yan%C4%B1k-5.jpg"> <img src="https://www.insanokur.org/wp-content/2019/10/sait-faik-abas%C4%B1yan%C4%B1k-5.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
          </div>
        </div>


        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
          <div class="flex flex-wrap -m-1 md:-m-2">
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2 ">
                <a data-fancybox="gallery" data-caption="Sait Faik ve Orhan Veli " href="https://admin.biyografya.com/_docs/photos/3ecf38b380d13b078c39f773e7ffeed8.jpg"> <img src="https://admin.biyografya.com/_docs/photos/3ecf38b380d13b078c39f773e7ffeed8.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Soldan sağa Sait Faik, Orhan Veli Kanık ve Oktay Akbal" href="http://saitfaikmuzesi.org/wp-content/uploads/2013/05/saitfaikhayati15.jpg"> <img src="http://saitfaikmuzesi.org/wp-content/uploads/2013/05/saitfaikhayati15.jpg "  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Sait Faik, köpeği ile sahilde" href="https://www.adalaragidelim.com/wp-content/uploads/2021/05/sait-faik-abasiyanik-burgazada.jpg"> <img src="https://www.adalaragidelim.com/wp-content/uploads/2021/05/sait-faik-abasiyanik-burgazada.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Annesiyle Beraber" href="https://www.adalaragidelim.com/wp-content/uploads/2021/05/sait-faik-abasiyanik-ve-annesi.jpeg"> <img src="https://www.adalaragidelim.com/wp-content/uploads/2021/05/sait-faik-abasiyanik-ve-annesi.jpeg "  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Sait Faik ve Yaşar Kemal" href="http://i.milliyet.com.tr/GazeteHaberIciResim/2018/05/30/fft16_mf11598107.Jpeg"> <img src="http://i.milliyet.com.tr/GazeteHaberIciResim/2018/05/30/fft16_mf11598107.Jpeg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
            <div class="flex flex-wrap w-1/3">
              <div class="w-full p-1 md:p-2">
                <a data-fancybox="gallery" data-caption="Leyla Erbil ile" href="https://www.salakfilozof.com/wp-content/uploads/2019/03/sait-faik-abas%C4%B1yan%C4%B1k-6.jpg"> <img src="https://www.salakfilozof.com/wp-content/uploads/2019/03/sait-faik-abas%C4%B1yan%C4%B1k-6.jpg"  class="block object-cover object-center w-full h-full rounded-lg" alt="sait"></a>

              </div>
            </div>
          </div>
        </div>
      </section>
      
      





            <footer class="footer bg-black relative pt-1 border-b-2 border-blue-700" id="footer">
                <div class="container mx-auto px-6">
            
                    <div class="sm:flex sm:mt-8">
                        <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-around">
                            <div class="flex flex-col mb-4">
                                <span class="font-bold text-gray-400 uppercase mt-4 md:mt-0 mb-2">İletİşİm</span>
                                <span class="my-2"><a href="https://mail.google.com/mail/u/0/#inbox" class="text-white text-md hover:text-blue-500">atasoyfomer@gmail.com</a></span>
                                <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">0507 908 4142</a></span>
                            </div>
                            <div class="flex flex-col mb-4">


                                <span class="font-bold text-gray-400 uppercase mb-2">Sosyal Medya</span>
                                <span class="my-2"><a href="https://github.com/" class="text-white  text-md hover:text-blue-500">GitHub</a></span>
                                <span class="my-2"><a href="https://twitter.com/" class="text-white text-md hover:text-blue-500">Twitter</a></span>
                                <span class="my-2"><a href="https://www.instagram.com/?hl=tr" class="text-white text-md hover:text-blue-500">Instagram</a></span>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </footer>

            




</body>
</html>